{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": [
      1,
      {
        "printWidth": 100,
        "tabWidth": 2,
        "bracketSpacing": true,
        "trailingComma": "es5",
        "singleQuote": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "plugins": ["prettier"],
  "env": {
    "browser": true
  },
  "globals": {}
}
